# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# visual studio code files
.vs/
.vscode/

# windows files
/bin
/obj

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.scannerwork

npm-debug.log*
yarn-debug.log*
yarn-error.log*
